*/obj/*
*/bin/*
bin/*
*.suo
desktop.ini
*Thumbs.db
*.user
packages/*
*.psess
*.vsp
*.orig
.vs/*
*/.vscode/*
*/controllog.txt
*/Wordlists/*.txt
/Material/Resources/Wordlists
resources/*
!resources/warehouse_examples
!resources/warehouse_examples/*
!resources/.keep
!resources/warehouses
statistics/*
